@model IEnumerable<ZzaWeb.ZzaService.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Schedule</legend>

      <table class="table table-hover" id="tab_logic">
                <tr>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.startAt)
                    </th>
                      <th class="text-left">
                          @Html.DisplayNameFor(model => model.endAt)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.intHours)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.intMin)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.intSec)
                    </th>
                    <th class="text-left">
                        @Html.DisplayNameFor(model => model.repeatforever)
                    </th>
                   
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modeltem => item.startAt)
                        </td>
                          <td>
                            @Html.DisplayFor(modeltem => item.endAt)
                        </td>

                        <td>
                            @Html.DisplayFor(modeltem => item.intHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modeltem => item.intMin)
                        </td>
                        <td>
                            @Html.DisplayFor(modeltem => item.intSec)
                        </td>
                        <td>
                            @Html.DisplayFor(modeltem => item.repeatforever)
                        </td>
                         <td>
                            @Html.ActionLink("Edit", "Edit","Schedule", new { id=item.sID}, new {@class = "btn btn-primary right"}) |
                            @Html.ActionLink("Delete", "Delete","Schedule", new { id=item.sID }, new {@class = "btn btn-primary right"})
           
                        </td>
                    </tr>
                }

            </table>

  
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
    
</p>
